
.alertp {
  display: none;
}


@media screen and (max-width: 800px) {
  .alertp {
    display: flex; /* Changed to flex to center content */
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 20;
    left: 5;
    width: 90vw;
    height: 80vh;
    background-color: #ff4d4d;
    color: white;
    z-index: 9;
    padding: 20px;
    text-align: center;
  }
}